$color-light-grayish-blue: #F8F9FA;
$color-white: #FFFFFF;
$color-dark-grayish-blue: #495057;
$color-dark-grayish-blues: #6C757D;
$color-hex-gray: #E5E5E5;
$color-mostly-black: #212529;
$color-slightly-desaturated-orange: #D4A373;
$color-orange: #d98128;
$color-very-dark-grayish-blue: #343A40;
$color-black: #000000;
$color-light-gray: #C4C4C4;
$color-strong-red: #b92706;



$font-roboto: 'Roboto', sans-serif;
$font-league-spartan: 'League Spartan', sans-serif;
$font-lora: 'Lora', serif;

